@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@400;700&display=swap');
@font-face {
    font-family: 'Pokemon';
    src: url('/fonts/Pokemon Solid.ttf') format('truetype');
}

:root {
    --primary-color: #003A70;  /* Biru tua (Pokémon GO) */
    --secondary-color: #00A8E8; /* Biru cerah */
    --accent-color: #FFD700; /* Kuning emas */
    --background-color: #F5F5F5; /* Abu-abu terang */
    --text-color: #222831; /* Hitam kebiruan */
}

* {
    text-decoration: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: 'Fredoka', sans-serif;
}

.container {
    width: 95%;
    margin: 0 auto;
    margin-bottom: 15px;
}

header {
    margin-bottom: 20px;
}

.game-title {
    float: left;
}

.game-title h1 {
    margin: -10px 0 20px 0;
    font-family: 'Pokemon', sans-serif;
    font-size: 60px;
}

.score-board {
    float: right;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    justify-content: space-between;
}

.card {
    width: calc(24% - 8px);
    background-color: var(--secondary-color);
    color: var(--background-color);
    padding: 8px;
    text-align: center;
    /* height: 250px; */
    border-radius: 14px;
}

.card:hover {
    background-color: #0080C0; /* Biru hover lebih gelap */
    transform: scale(1.03); /* Efek membesar sedikit saat hover */
    box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.3);
}

.card img {
    width: 100%;
    border-radius: 8px;
}

.card h3 {
    padding: 10px 0;
}